@keyframes start-an {
    0% {
        box-shadow: 0 8px 10px rgb(55, 231, 55, 0.3), 0 0 0 0 rgb(55, 231, 55, 0.2), 0 0 0 0 rgb(55, 231, 55, 0.2)
    }

    40% {
        box-shadow: 0 8px 10px rgb(55, 231, 55, 0.3), 0 0 0 15px rgb(55, 231, 55, 0.2), 0 0 0 0 rgb(55, 231, 55, 0.2)
    }

    80% {
        box-shadow: 0 8px 10px rgb(55, 231, 55, 0.3), 0 0 0 30px rgb(55, 231, 55, 0), 0 0 0 26.7px rgb(55, 231, 55, 0.67)
    }

    100% {
        box-shadow: 0 8px 10px rgb(55, 231, 55, 0.3), 0 0 0 30px rgb(55, 231, 55, 0), 0 0 0 40px rgb(55, 231, 55, 0)
    }
}